<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Servicios.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Servicios.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Servicios.My.MySettings>
            <setting name="BasedeDatos" serializeAs="String">
                <value/>
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value/>
            </setting>
            <setting name="DBUsuario" serializeAs="String">
                <value/>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="PideDatos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emailhost" serializeAs="String">
                <value/>
            </setting>
            <setting name="emailusuario" serializeAs="String">
                <value/>
            </setting>
            <setting name="emailpassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="emailfrom" serializeAs="String">
                <value/>
            </setting>
            <setting name="abrepunto" serializeAs="String">
                <value/>
            </setting>
            <setting name="direccion" serializeAs="String">
                <value/>
            </setting>
            <setting name="rfc" serializeAs="String">
                <value/>
            </setting>
            <setting name="ciudad" serializeAs="String">
                <value/>
            </setting>
            <setting name="rutacer" serializeAs="String">
                <value/>
            </setting>
            <setting name="rutakey" serializeAs="String">
                <value/>
            </setting>
            <setting name="passwordkey" serializeAs="String">
                <value/>
            </setting>
            <setting name="menusextendidos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="idmaquina" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="emailpuerto" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="impresoraPDF" serializeAs="String">
                <value/>
            </setting>
            <setting name="multiplesventanas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="facturarsoloconexistencia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="conceptocero" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="costoenreporteinventario" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="empresadefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cantidadcodigo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preguntarsalir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="encriptacionssl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="puertodb" serializeAs="String">
                <value/>
            </setting>
            <setting name="ventasscroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comprasscroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cajadefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="impresorapv" serializeAs="String">
                <value/>
            </setting>
            <setting name="cortexformato" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="repultimocosto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serial" serializeAs="String">
                <value/>
            </setting>
            <setting name="ultimaejecucion" serializeAs="String">
                <value/>
            </setting>
            <setting name="movimientosscroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nominacheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="impresoraempenios" serializeAs="String">
                <value/>
            </setting>
            <setting name="remisioneschecafolio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="impresoraServicios" serializeAs="String">
                <value/>
            </setting>
            <setting name="pulgadasServicios" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="impresoraServicios2" serializeAs="String">
                <value/>
            </setting>
            <setting name="pulgadasServicios2" serializeAs="String">
                <value>0</value>
            </setting>
        </Servicios.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Servicios.My.MySettings>
            <setting name="Servicios_TimbreFiscal_TimbradoCFDI" serializeAs="String">
                <value>http://www.buzonfiscal.com</value>
            </setting>
            <setting name="Servicios_com_facturafiel_www_server" serializeAs="String">
                <value>https://www.facturafiel.com:443/websrv/servicio_timbrado_directo.php</value>
            </setting>
            <setting name="Servicios_com_facturafiel_www1_server" serializeAs="String">
                <value>https://www.facturafiel.com:443/websrv/servicio_cancelacion.php</value>
            </setting>
            <setting name="Servicios_facturafiel_recuperacion_server" serializeAs="String">
                <value>https://www.facturafiel.com:443/websrv/servicio_recuperacion.php</value>
            </setting>
            <setting name="Servicios_facturafielalterno_server" serializeAs="String">
                <value>https://www.facturafiel.com:443/websrv/servicio_timbrado_xml_SOLO.php</value>
            </setting>
        </Servicios.My.MySettings>
    </applicationSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
